<div class="container">
  <section class="block">
    <div class="block__header">
      <h1 class="block__heading">Heading1</h1>
      <p class="block__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo delectus
        labore hic ipsa culpa? A temporibus error voluptate, commodi dicta nemo
        modi at laborum. Perferendis minus quo voluptates necessitatibus quidem.
      </p>
    </div>
  </section>
</div>

<section class="block block--skewed block--skewed-right">
  <h1 class="block__heading">Heading1</h1>
  <p class="block__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo delectus labore
    hic ipsa culpa? A temporibus error voluptate, commodi dicta nemo modi at
    laborum. Perferendis minus quo voluptates necessitatibus quidem.
  </p>
</section>

<section class="block block--skewed block--skewed-left">
  <h1 class="block__heading">Heading1</h1>
  <p class="block__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo delectus labore
    hic ipsa culpa? A temporibus error voluptate, commodi dicta nemo modi at
    laborum. Perferendis minus quo voluptates necessitatibus quidem.
  </p>
</section>
