<div class="collapsible">
  <div class="collapsible__header">
    <h1 class="collapsible__heading block__heading">Products</h1>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="/icons/sprite.svg#chevron"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    <ul class="list collapsible__list">
      <li>
        <a class="collapsible__list-item" href="#">Website Hosting</a>
      </li>
      <li>
        <a class="collapsible__list-item" href="#">Free Automated Wordpress</a>
      </li>
      <li>
        <a class="collapsible__list-item" href="#">Migration</a>
      </li>
    </ul>
  </div>
</div>
