<section class="block container">
  <header class="block__header">
    <h2 class="header__heading">Host on the Cloud to Keep Growing</h2>
    <p class="header__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet,
      praesentium?
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__text">
      <span class="icon-bg">
        <svg class="icon icon--primary">
          <use xlink:href="/icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3>Super Easy to Use</h3>
      <p class="feature__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
        reprehenderit inventore odio obcaecati quo eos distinctio, magni
        quibusdam perferendis. Labore voluptatibus aut aliquam delectus ex,
        doloremque quod quas eaque consectetur.`
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/images/easy@1x.webp 1x, /images/easy@2x.webp 2x" />
      <source
        type="image/jpg"
        srcset="/images/easy@1x.jpg 1x, /images/easy@2x.jpg 2x" />
      <img class="feature__image" src="images/easy.jpg" alt=" growth graph"
    /></picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__text">
      <span class="icon-bg">
        <svg class="icon icon--primary">
          <use xlink:href="/icons/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3>Simply Fast Websites</h3>
      <p class="feature__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
        reprehenderit inventore odio obcaecati quo eos distinctio, magni
        quibusdam perferendis. Labore voluptatibus aut aliquam delectus ex,
        doloremque quod quas eaque consectetur.`
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/images/fast@1x.webp 1x, /images/fast@2x.webp 2x" />
      <source
        type="image/jpg"
        srcset="/images/fast@1x.jpg 1x, /images/fast@2x.jpg 2x" />
      <img class="feature__image" src="images/fast.jpg" alt=" growth graph"
    /></picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__text">
      <span class="icon-bg">
        <svg class="icon icon--primary">
          <use xlink:href="/icons/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3>Wordpress Made Easy</h3>
      <p class="feature__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
        reprehenderit inventore odio obcaecati quo eos distinctio, magni
        quibusdam perferendis. Labore voluptatibus aut aliquam delectus ex,
        doloremque quod quas eaque consectetur.`
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/images/wordpress@1x.webp 1x, /images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="/images/wordpress@1x.jpg 1x, /images/wordpress@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/wordpress.jpg"
        alt=" growth graph"
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__text">
      <span class="icon-bg">
        <svg class="icon icon--primary">
          <use xlink:href="/icons/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>24/7 Expert Support</h3>
      <p class="feature__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
        reprehenderit inventore odio obcaecati quo eos distinctio, magni
        quibusdam perferendis. Labore voluptatibus aut aliquam delectus ex,
        doloremque quod quas eaque consectetur.`
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/images/support@1x.webp 1x, /images/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="/images/support@1x.jpg 1x, /images/support@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/support.jpg"
        alt=" growth graph"
      />
    </picture>
  </article>
</section>
