<section class="block block--skewed block--skewed-left media-component">
  <header>
    <h2 class="block__header block__heading">User-Friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2">
    <picture class="media-component__picture">
      <source
        type="image/webp"
        srcset="/images/ipad@1x.webp 1x, /images/ipad@2x.webp 2x" />
      <source
        type="image/png"
        srcset="/images/ipad@1x.png 1x, /images/ipad@2x.png 2x" />
      <img
        class="media-component__image"
        src="images/ipad.png"
        alt="statistics image"
    /></picture>
    <div class="media-component__content">
      <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="block__heading">Easy Start and Managed Updates</h3>
          <p class="block__content">
            Our cloud plan includes easy onboarding for new and existing sites
            and managed WorldPress and WooComerce auto-updates.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="block__heading">Staging, GIT & WP-CLI</h3>
          <p class="block__content">
            Our cloud plan includes easy onboarding for new and existing sites
            and managed WorldPress and WooComerce auto-updates.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__img">
          <svg class="icon icon--primary">
            <use xlink:href="/icons/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="block__heading">Dynamic Caching and More</h3>
          <p class="block__content">
            Our cloud plan includes easy onboarding for new and existing sites
            and managed WorldPress and WooComerce auto-updates.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
